:root {
  --primary-color: #232323;
  --text-dark: #1c1c1c;
  --text-light: #fff;
  --gradient: 90deg, #058999 0%, #ff827d 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.active{
  color: white !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: var(--text-dark);
  margin: 0;
}

.d_lg_none {
  display: none;
}
@media (max-width: 450px) {
  .d_lg_none {
    display: block;
  }
  .sm_d_none {
    display: none;
  }
  .text {
    font-size: 12px;
    line-height: 145%;
  }
}

.spin{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}