:root {
  --primary-color: #232323;
  --text-dark: #1c1c1c;
  --text-light: #fff;
  --gradient: 90deg, #058999 0%, #ff827d 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.d_lg_none {
  display: none;
}
@media (max-width: 450px) {
  .d_lg_none {
    display: block;
  }
  .sm_d_none {
    display: none;
  }
}
