.main_wrapper {
  padding: 8% 5%;
  .heading {
    color: #1c1c1c;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    @media (max-width: 480px) {
      font-size: 21.7px;
    }
  }
}
.wrapper {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }
}
