.wrapper {
  width: 100%;
  height: fit-content;
  padding: 8% 5%;
  display: flex;
  gap: 50px;
}
.img_section {
  display: flex;
  align-items: center;
  img {
    width: 370px;
    object-fit: cover;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: #232323;
    font-size: 97.044px;
    font-weight: 500;
    line-height: 130%;
  }
  p {
    color: #232323;
    font-size: 26px;
    font-weight: 400;
    line-height: 135%;
  }
}

@media (max-width: 1200px) {
  .content {
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 900px) {
  .img_section {
    img {
      width: 300px;
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }

  .img_section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .content {
    h1 {
      font-size: 42px;
    }
    p {
      font-size: 15px;
    }
  }
}
