.wrapper {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  img {
    width: inherit;
    height: 200px;
    object-fit: cover;
  }
  .details_section {
      width: 100%;
      padding: 5%;
    h3,
    p {
      margin: 0;
    }
    .name {
      font-size: 28px;
    }
    .company,.year {
      font-size: 18px;
      color: rgb(87, 87, 87);
    }
  }
}

@media(max-width:600px){

    .wrapper {
        width: 47%;
        img {
          width: 100%;
          height: 170px;
        }
        .details_section {
            padding: 2%;
          .name {
            font-size: 18px;
          }
          .company,.year {
            font-size: 14px;
          }
        }
      }

}